/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  #myUL {
    padding-left: 0px; 
    padding-right: 14px;
  }
  
  /* Style the list items */
  #myUL li {
    position: relative;
    padding: 10px 8px 10px 5px;
    font-size: 20px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
   
  /* Darker background-color on hover */
  #myUL li:hover {
    color: var(--red);
  }
  
  /* When clicked on, add a background color and strike out text */
  #myUL li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  #myUL li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  #td {
    padding-right: 15%;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    color: var(--white);
  }
  
  .close:hover {
    color: white;
  }
  
  /* Style the header */
  .header {
    /*background-color: #31353f;*/
    /*padding: 30px 40px;*/
    color: white;
    text-align: center;
    right: 15%;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 11px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 6px;
    width: 20%;
    /*background: #d9d9d9;*/
    color: var(--white);
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    color: var(--red);
  }